* {
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
    background: url('./../img/sant_jordi.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;

}

header, main, footer, nav, section {
    float: left;
    width: 100%;
}


header nav {
    margin-top: 6%;
    margin-left: 5%;
    width: 50%;
}

nav a:visited{
    color: black;
    background:rgb(217, 212, 212);

}
nav a:active{
    color: black;
    background-color: yellowgreen;

}
nav a{
    margin-top: 100px;
    font-size: 20px;
    text-decoration: none;
    color: #000000;
    border: solid 6px #000;
    border-radius: 20px;
    padding: 15px;
    background: rgb(217, 212, 212);
}
.rotateAnimation {
    margin-top: 50px;
    float: left;
    width: 150px;
    margin-left: 25%;
    animation-name: rotacioAnimacio;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-timing-function: linear; 
}

.rotateAnimation img {
    width: 180px;
}

@keyframes rotacioAnimacio {
    from {transform: rotate(360deg);}
    to {transform: rotate(0deg);}
}

main section img {
    width: 20%;
    margin-top: 2%;
    margin-left: 10%;
}

main section p {
    font-size: 30px;
    background: rgb(217, 212, 212);
    width: 80%;
    margin-left: 10%;
}

main section h2 {
    color: yellow;
    width: 80%;
    margin-left: 10%;
    margin-top: 20px;
}
#moviment div{
    transition: all 5s;
}

#moviment div:nth-child(1):hover{
    transform: translate(60vw);
}
footer {
    width: 30%;
    margin-top: 0.5%;
    margin-left: 40%
}